*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
body{
    background-color: black;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 248, 248);
    height: calc(100% - 63px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 0 30px;

}
.hero> :nth-child(1) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {

    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(3) {
    /* margin-top: 20px; */ 
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    
}
.hero> :nth-child(4){
    /* margin-top: 10px; */
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.seperation{
    height: 7px;
    background-color: grey;
    /* position: relative; */
}
.btn{
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(60, 56, 56, 0.407) ;
    color: white;
    cursor: pointer;
}
.white{
    border: 1px solid  rgba(245, 241, 241, 0.964) ;

}
.btn-red{ /* Sign-in */
    background-color: red;

}
.btn_red{ /* Get started button */
    background-color: red;
    font-size: 26px;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Email{
    /* background-color: red; */
    border-radius: 5px;
    color: white;
    font-size:12 px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(245, 241, 241, 0.964);
    padding: 16px 101px 12px 14px;
}
.first {
    justify-content: center;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg {
    position: relative;
    width: 40vw; /* Match the image width */
}

.secImg img {
    width: 100%; /* Fill the container */
    position: relative;
    z-index: 10;
}

.secImg video {
    
    position: absolute;
    width: 390px;
    top: 51px;
    right: 0;
}
section.first>div{
    display: flex;
    flex-direction: column;
}
section.first>div :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}
section.first>div :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;

}
.faq {
    background-color: black;
    color: white;
    padding: 35px;
}
.faq h2{
    text-align: center;
    font-size: 50px;
}
.faqbox{
    background-color: blue;
    display: flex;
    justify-content:space-between;
    max-width: 70vw;
    margin: 34px auto;
    background-color: #2d2d2d;
    font-size: 24px;
    padding: 24px;
}
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: left;
}

.footer-content {
    max-width: 648px;
    margin: 0 auto;
    
}

.footer-section p {
    margin: 0;
    margin-left: 50px;
    font-size: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 45px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: #f4f1f7;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    color: #f60606;
    font-size: 30px;
    text-align: center;
    
}

